/* ===============
        Projects
    =============== */

.projects {
  background: rgb(142, 36, 170);
  z-index: -1;
  background: linear-gradient(0deg, rgba(142, 36, 170, 1) 0%, rgba(171, 71, 188, 1) 100%);
  color: #f7f7f7;
}

.projects-title {
  grid-column: 2 / span 12;
}

.projects-title::before {
  content: '';
  position: absolute;
  left: 5px;
  z-index: -1;
  bottom: 0;
  width: 2.625em;
  height: 30%;
  background: #ff9a05;
}

/* ===============
      ProjectsNav
    =============== */

.projects-nav {
  grid-column: 1 / span 13;
  margin: 2em 0 2em 0;
  display: flex;
  justify-content: center;
}

.projects-nav-item {
  cursor: pointer;
  padding: 4px 16px;
  border-bottom: solid #333333 3px;
}

/* ===============
      ProjectsCard
    =============== */

.projects-card {
  grid-column: 1 / span 13;
  column-gap: 20px;
  text-align: end;
}

.projects-card-image-container {
  grid-column: 2 / span 6;
  grid-row: 1;
}

.projects-card-image-border {
  display: flex;
  width: fit-content;
  z-index: 0;
  position: relative;
}

.projects-card-image-border::before,
.projects-card-image-border::after {
  content: '';
  z-index: -1;
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
}

.projects-card-image-border::before {
  top: -5px;
  left: -5px;
}

.projects-card-image-border::after {
  right: -5px;
  bottom: -5px;
}

.projects-card-image {
  border-radius: 5px;
}

.projects-card-content {
  grid-column: 7 / span 5;
  grid-row: 1;
  z-index: 2;
}

.projects-card-content-title {
  padding-right: 0.5em;
  padding-bottom: 1em;
}

.projects-card-content-text {
  color: black;
  border-radius: 5px;
  background: #ce93d8;
  box-shadow: 2px 2px 8px black;
  padding: 1em 2em 1em 4em;
}

.projects-card-content-subtext-container {
  display: flex;
  justify-content: end;
  padding: 1em 0;
}

.projects-card-content-subtext {
  color: #ffb74d;
  padding: 0 0.5em;
}

.projects-card-content-btn {
  display: inline-block;
  margin: 0 2em;
  padding: 0.375em 0.875em;
  border-radius: 5px;
  /* font-weight: 700; */
  color: black;
  background: #ce93d8;
  border: solid #ce93d8 2px;
  transition: all 200ms;
}

.projects-card-content-btn:hover {
  background: #8e24aa;
  color: #f7f7f7;
}
