/* ===============
        Projects
    =============== */

.projects {
  background: var(--primary-color);
  background: linear-gradient(0deg, var(--secondary-color) 0%, var(--primary-color) 100%);
  color: var(--bg-primary);
  min-height: 1200px;
}

.projects-title {
  grid-column: 2;
  display: flex;
  align-items: end;
  margin-bottom: 0.75em;
}

.projects-title::before {
  content: '';
  position: absolute;
  left: 5px;
  z-index: -1;
  bottom: 0;
  width: 2.625em;
  height: 30%;
  background: var(--tertiary-color);
}

@media (max-width: 768px) {
  .projects-title {
    grid-column: 1 / span 4;
  }
}

/* ===============
      ProjectsNav
    =============== */

.projects-nav {
  grid-column: 2;
  white-space: nowrap;
  height: fit-content;
  font-size: 1.5rem;
  border-radius: 5px;
  gap: 1.5em;
  padding: 0.25em 0.5em;
}

.projects-nav-item {
  position: relative;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  border: solid transparent 3px;
  transition: all 400ms, opacity 1200ms;
  background-color: var(--secondary-color);
  margin: 0.4em 0;
  opacity: 0;
}

.projects-nav-item:nth-of-type(even) {
  transform: translateX(20px);
}

.projects-nav-item:nth-of-type(even):hover {
  transform: translateX(10px);
}

.projects-nav-item:nth-of-type(odd):hover {
  transform: translateX(10px);
}

.projects-nav-item:hover .projects-nav-button {
  color: var(--tertiary-color);
}

.projects-nav-button,
.projects-nav-button:hover {
  background: none;
  border: none;
  color: white;
}

#projects-nav-active {
  animation: create-frame 1000ms forwards;
}

@keyframes create-frame {
  0% {
    border-right: solid var(--tertiary-color) 3px;
  }

  33% {
    border-top: solid var(--tertiary-color) 3px;
  }
  66% {
    border-left: solid var(--tertiary-color) 3px;
  }
  100% {
    border-bottom: solid var(--tertiary-color) 3px;
  }
}

@media (max-width: 1080px) {
  .projects-nav {
    grid-column: 1/-1;
    display: flex;
    margin: auto;
  }

  .projects-nav-item {
    padding: 0;
  }

  .projects-nav-item:nth-of-type(even) {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .projects-nav {
    grid-column: 1 / -1;
    white-space: nowrap;
    justify-content: start;
    width: 100%;
    gap: 0.25em;
    overflow: auto;
    scrollbar-color: transparent transparent;
  }

  .projects-nav-item {
    padding: 0;
  }
}

/* ===============
      ProjectsCard
    =============== */

.projects-card {
  grid-column: 3 / -1;
  isolation: isolate;
  opacity: 0;
}

.projects-card-animated {
  animation: project-content-fade-in 400ms forwards;
}

.projects-card-image-container {
  grid-column: 2 / span 8;
  grid-row: 1;
  z-index: 1;
  margin: auto;
  max-width: 688px;
}

.projects-card-image-container-active {
  animation: fade-in-down 1000ms;
}

.projects-card-content {
  grid-column: 2 / span 8;
  grid-row: 2;
  border-radius: 5px;
  max-width: 688px;
  margin: auto;
}

.projects-card-content-active {
  animation: fade-in-up 1000ms;
}

.projects-card-content-title {
  font-weight: 700;
  padding-right: 0.5em;
  padding-bottom: 1em;
}

.projects-card-content-text {
  color: black;
  border-radius: 5px;
  font-size: 1.125rem;
  background: var(--accent-color);
  box-shadow: 2px 2px 8px black;
  padding: 1em 2em;
}

.projects-card-content-subtext-container {
  display: flex;
  /* justify-content: end; */
  gap: 0.5em;
  flex-wrap: wrap;
  margin: 2em 0;
}

.projects-card-content-subtext {
  color: var(--tertiary-color);
  white-space: nowrap;
  border-radius: 2px;
  font-weight: 700;
  padding: 0 0.5em;
}

.projects-card-content-btn {
  padding: 0.375em 0.875em;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  color: black;
  background: var(--tertiary-color);
  border: solid var(--tertiary-color) 3px;
  transition: all 200ms;
}

.projects-card-content-btn-container {
  display: flex;
  gap: 2em;
}

.projects-card-content-btn:hover {
  background: var(--dark);
  color: var(--bg-primary);
}

@media (max-width: 1080px) {
  .projects-card {
    margin-top: 2em;
    grid-column: 1 / -1;
  }

  .projects-card-image-container {
    grid-column: 2 / -2;
  }

  .projects-card-content {
    grid-column: 2 / -2;
    grid-row: 2;
  }

  .projects-card-content-title {
    display: none;
  }
}

@media (max-width: 768px) {
  .projects-card {
    grid-column: 1 / span 5;
  }

  .projects-card-content-subtext-container {
    justify-content: center;
  }

  .projects-card-content {
    grid-column: 1 / span 5;
    grid-row: 2;
    text-align: left;
  }

  .projects-card-image-container {
    margin-left: 25px;
    margin-right: 25px;
    grid-column: 1 / span 5;
    grid-row: 1;
  }

  .projects-card-content-text {
    color: black;
    border-radius: 5px;
    font-size: 0.825rem;
    background: var(--accent-color);
    box-shadow: 2px 2px 8px black;
    padding: 1em;
    margin: 0 20px;
  }

  .projects-card-content-btn-container {
    justify-content: center;
  }
}
