/* ===============
        Hero
    =============== */

.hero {
  position: relative;
  height: 40em;
}

.hero-bee-primary-container {
  display: flex;
  position: absolute;
  width: 100%;
  top: 11%;
}

.hero-bee-primary {
  align-self: flex-start;
}

.hero-bee-flapping-primary {
  align-self: flex-start;
  transform: translateX(-74px);
}

.hero-bee-primary-line {
  padding-top: 41px;
  width: 45%;
}

.hero-bee-secondary-container {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 100%;
  bottom: -24%;
  z-index: 1;
}

.hero-bee-secondary {
  align-self: flex-end;
  transform: translateX(75px);
}

.hero-bee-flapping-secondary {
  align-self: flex-end;
}

.hero-bee-secondary-line {
  width: 45%;
}

@media (min-width: 3840px) {
  .hero-bee-primary-line {
    padding-top: 31px;
    width: 47%;
  }

  .hero-bee-secondary {
    padding-bottom: 12px;
  }
}

@media (max-width: 1080px) {
  .hero {
    position: relative;
    height: 30em;
  }

  .hero-bee-primary-line {
    padding-top: 45px;
    stroke-dasharray: 10 10;
  }

  .hero-bee-secondary-line {
    padding-bottom: 6px;
    stroke-dasharray: 10 10;
  }
}

@media (max-width: 768px) {
  .hero-bee-primary-line {
    padding-top: 35px;
    stroke-dasharray: 15 15;
    stroke-width: 4px;
  }

  .hero-bee-secondary-line {
    padding-bottom: 10px;
    stroke-dasharray: 15 15;
    stroke-width: 4px;
  }
}

/* ===============
      HeroCanvas
    =============== */

#hero-canvas {
  position: fixed;
  z-index: -1;
  opacity: 50%;
  width: 100%;
  height: 100%;
  inset: 0 auto auto 0;
}

/* ===============
    HeroIllustration
    =============== */

.hero-illustration-container {
  grid-column: 7 / span 5;
  display: flex;
  z-index: 0;
  position: relative;
  margin: auto auto;
  transform: scale(0);
  animation: blossom 1300ms 3s forwards;
  cursor: pointer;
}

.hero-illustration-text-container {
  position: absolute;
  top: 61px;
  left: 60px;
  line-height: 1.25rem;
  font-family: 'Fira Code', sans-serif;
}

.hero-illustration-text {
  width: fit-content;
  display: flex;
  position: relative;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
}

.hero-illustration-text-highlighter {
  width: 0;
  position: absolute;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  background-color: var(--accent-color);
  animation: entry-highlight 1.5s;
}

.hero-illustration-text:nth-child(1) .hero-illustration-text-highlighter {
  animation-delay: 4s;
  transition: all 300ms;
}

.hero-illustration-text:nth-child(2) .hero-illustration-text-highlighter {
  animation-delay: 4.2s;
  transition: all 500ms;
}

.hero-illustration-text:nth-child(3) .hero-illustration-text-highlighter {
  animation-delay: 4.4s;
  transition: all 700ms;
}

.hero-illustration-text:nth-child(4) .hero-illustration-text-highlighter {
  animation-delay: 4.6s;
  transition: all 900ms;
}

@keyframes entry-highlight {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

.hero-illustration-flower-one {
  position: absolute;
  top: -50px;
  right: -80px;
  z-index: -1;
  transform: scale(0);
  animation: blossom 2000ms 3s forwards;
}

.hero-illustration-flower-two {
  position: absolute;
  bottom: -80px;
  left: -75px;
  transform: scale(0);
  animation: blossom 1500ms 3s forwards;
}

@media (max-width: 1080px) {
  .hero-illustration-container {
    grid-column: 5 / span 3;
  }

  .hero-illustration-flower-one {
    position: absolute;
    top: -30px;
    right: -50px;
  }

  .hero-illustration-flower-two {
    position: absolute;
    bottom: -50px;
    left: -45px;
  }

  .hero-illustration-text-container {
    top: 47px;
    left: 44px;
    line-height: 0.875rem;
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .hero-illustration-container {
    display: none;
  }
}
/* ===============
    HeroGreeting
    =============== */

.hero-greeting-container {
  margin: auto;
  background: rgba(247, 247, 247, 0.5);
  grid-column: 2 / span 5;
  grid-row: 1;
  z-index: 1;
}

.hero-greeting-title {
  animation: fade-in-left-delay 1000ms;
}

.hero-greeting-subtitle {
  color: var(--tertiary-color);
  animation: fade-in-left-delay 1500ms;
}

.hero-greeting-mission-statement {
  font-family: 'Pacifico', cursive;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  padding-bottom: 1em;
  animation: typing 4s steps(300, end);
}

@media (max-width: 1080px) {
  .hero-greeting-container {
    grid-column: 2 / span 3;
  }

  .hero-greeting-subtitle {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .hero-greeting-container {
    grid-column: 1 / span 4;
    margin: auto auto;
  }
}
