/* ===============
        Icon
    =============== */

.send-message-icon {
  width: 154px;
}

.frontend-icon,
.backend-icon,
.tools-icon,
.design-icon {
  width: 35px;
}

.flower-variant-one {
  width: 140px;
}

#flower-variant-two {
  width: 140px;
}

.flower-icon {
  width: 100%;
}

.vine-icon {
  width: 21px;
}

.html-web-icon {
  width: 210px;
}

#bee-icon {
  width: 74px;
}

.github-icon {
  width: 30px;
  display: block;
  padding-bottom: 1em;
  fill: var(--bg-primary);
  transition: all 200ms;
}

.linked-in-icon {
  width: 30px;
  display: block;
  fill: var(--bg-primary);
  transition: all 200ms;
}

.hamburger {
  width: 40px;
}

.close-icon {
  width: 25px;
}

@media (max-width: 1080px) {
  .html-web-icon {
    width: 170px;
  }

  .flower-variant-one {
    width: 90px;
  }

  #flower-variant-two {
    width: 90px;
  }
}
