/* ===============
        Icon
    =============== */

.send-message-icon {
  width: 154px;
}

.frontend-icon,
.backend-icon,
.tools-icon,
.design-icon {
  width: 50px;
}

.flower-variant-one {
  width: 140px;
}

#flower-variant-two {
  width: 140px;
}

.flower-icon {
  width: 100%;
}

.vine-icon {
  width: 24px;
}

.html-web-icon {
  width: 210px;
}

#bee-icon {
  width: 74px;
}

@media (max-width: 1080px) {
  .html-web-icon {
    width: 170px;
  }

  .flower-variant-one {
    width: 90px;
  }

  #flower-variant-two {
    width: 90px;
  }

  .vine-icon {
    width: 21px;
  }
}
