/* ===============
        Icon
    =============== */

.send-message-icon {
  width: 100%;
}

.frontend-icon,
.backend-icon,
.tools-icon,
.design-icon {
  width: 35px;
}

.flower-variant-one {
  width: 140px;
}

#flower-variant-two {
  width: 140px;
}

.flower-icon {
  width: 100%;
}

.vine-icon {
  width: 21px;
}

.html-web-icon {
  width: 190px;
}

#bee-icon {
  width: 74px;
}

#bee-secondary-icon {
  width: 74px;
}

#bee-flapping-icon {
  width: 74px;
}

#bee-flapping-secondary-icon {
  width: 74px;
}

.hamburger {
  width: 40px;
}

.close-icon {
  width: 25px;
}

.icon-small {
  width: 35px;
}

.icon-medium {
  width: 40px;
}

.icon-large {
  width: 45px;
}

@media (max-width: 1080px) {
  .html-web-icon {
    width: 140px;
  }

  .flower-variant-one {
    width: 90px;
  }

  #flower-variant-two {
    width: 90px;
  }
}
