* {
  font-family: 'Antic', sans-serif;
  font-size: 16px;
  --bg-primary: #f7f7f7;
  --primary-color: #ab47bc;
  --secondary-color: #8e24aa;
  --tertiary-color: #ff9a05;
  --accent-color: #f8bbd0;
  --dark: #333;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  background: var(--bg-primary);
  overflow-x: hidden;
}

section {
  position: relative;
}

@media (max-width: 1080px) {
  button {
    font-size: 0.825rem;
  }
}

button {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  padding: 0.375em;
}

/* ===================
        Typography
    =================== */

h1,
h2,
h3,
h4 {
  font-family: 'Antic', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

a {
  font-family: 'Antic', sans-serif;
  cursor: pointer;
}

@media (max-width: 1080px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.375rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
  }

  a {
    font-size: 0.875rem;
    font-family: 'Antic', sans-serif;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

/* ===================
        input
    =================== */

input,
textarea {
  width: 100%;
  border: solid var(--primary-color) 2px;
  border-radius: 5px;
  background: var(--bg-primary);
  margin-top: 0.5em;
  margin-bottom: 3em;
  padding: 0.5em 0.875em;
  transition: border 200ms;
}

input:focus,
textarea:focus {
  border: solid var(--accent-color) 2px;
}

label {
  background: var(--bg-primary);
  margin-left: 1em;
}
