* {
  font-family: 'Antic', sans-serif;
  font-size: 16px;
  --bg-primary: #f7f7f7;
  --primary-color: #ab47bc;
  --secondary-color: #8e24aa;
  --tertiary-color: #ff9a05;
  --accent-color: #ce93d8;
  --dark: #333;
}

body {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
}

section {
  position: relative;
  padding: 10rem 0;
}

button {
  cursor: pointer;
  display: inline-block;
  padding: 0.375em 0.875em;
  border-radius: 5px;
  font-family: 'Poppins', sans-serif;
  color: black;
  background: #ff9a05;
  border: solid #ff9a05 2px;
  transition: all 200ms;
}

button:hover {
  background: #333;
  color: #f7f7f7;
}

/* ===================
        Typography
    =================== */

h1,
h2,
h3,
h4 {
  font-family: 'Antic', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

a {
  font-family: 'Antic', sans-serif;
  cursor: pointer;
}

/* ===================
        images
    =================== */

img {
  border-radius: 5px;
}

/* ===================
        input
    =================== */

input {
  width: 100%;
  border: solid #333 2px;
  border-radius: 5px;
  margin-top: 0.5em;
  margin-bottom: 3em;
  padding: 0.5em 0.875em;
}

label {
  padding-left: 1em;
}
