/* ===================
         Classes
    =================== */

.flip-horizontally {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph;
  filter: fliph;
}

/* ===================
        Containers
    =================== */

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  /* border: black solid 1px; */
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

.grid-autofit {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.super-section {
  padding: 11rem 0;
}

@media (max-width: 1080px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 20px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

/* ===================
        Typography
    =================== */

.hero-subtitle {
  color: var(--tertiary-color);
}

.section-title {
  font-family: 'Fredoka One', cursive;
  position: relative;
  z-index: 0;
}

.subtitle {
  font-family: 'Pacifico', cursive;
}

/* ===================
        images
    =================== */

.image-border {
  display: flex;
  width: fit-content;
  z-index: 0;
  position: relative;
}

.image-border::before,
.image-border::after {
  content: '';
  z-index: -1;
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  background: var(--bg-primary);
  box-shadow: 0 0 8px black;
}

.image-border::before {
  top: -5px;
  left: -5px;
}

.image-border::after {
  right: -5px;
  bottom: -5px;
}

.image-flower {
  position: absolute;
  rotate: 25deg;
  bottom: -78px;
  left: -80px;
}

.image-vine-left {
  position: absolute;
  rotate: 25deg;
  bottom: -7px;
  left: -21px;
  rotate: 0deg;
}

.image-vine-bottom {
  position: absolute;
  bottom: -87px;
  left: 64px;
  left: 90px;
  rotate: 90deg;
}

@media (max-width: 1080px) {
  .image-flower {
    bottom: -53px;
    left: -51px;
  }

  .image-vine-left {
  }

  .image-vine-bottom {
  }
}

/* ===================
      Custom Borders
    =================== */

.golden-border {
  --golden-border-height: 1rem;
  --golden-border-ovals-height: 1rem;
}

.golden-border-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--golden-border-height);
  background: var(--tertiary-color);
}

.golden-border-top::before {
  content: '';
  position: absolute;
  top: calc(var(--golden-border-ovals-height) / -2);
  left: 0;
  width: 100%;
  border-radius: 100%;
  height: var(--golden-border-ovals-height);
  background: var(--bg-primary);
}

.golden-border-top::after {
  content: '';
  position: absolute;
  top: calc(var(--golden-border-height) - (var(--golden-border-ovals-height) / 2));
  left: 0;
  width: 100%;
  border-radius: 100%;
  height: var(--golden-border-ovals-height);
  background: var(--tertiary-color);
}

.golden-border-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--golden-border-height);
  background: var(--tertiary-color);
}

.golden-border-bottom::before {
  content: '';
  position: absolute;
  bottom: calc(var(--golden-border-ovals-height) / -2);
  left: 0;
  width: 100%;
  border-radius: 100%;
  height: var(--golden-border-ovals-height);
  background: var(--bg-primary);
}

.golden-border-bottom::after {
  content: '';
  position: absolute;
  bottom: calc(var(--golden-border-height) - (var(--golden-border-ovals-height) / 2));
  left: 0;
  width: 100%;
  border-radius: 100%;
  height: var(--golden-border-ovals-height);
  background: var(--tertiary-color);
}
