/* ===================
         Classes
    =================== */

/* ===================
        Containers
    =================== */

.container {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  border: black solid 1px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
}

/* ===================
        Typography
    =================== */

.hero-subtitle {
  color: #ff9a05;
}

.section-title {
  grid-column: 2;
  font-family: 'Fredoka One', cursive;
}

.subtitle {
  font-family: 'Pacifico', cursive;
}
