/* ===============
        About
    =============== */

.about-title {
  grid-column: 2 / span 12;
}

.about-title::before {
  content: '';
  position: absolute;
  left: 5px;
  z-index: -1;
  bottom: 0;
  width: 7.375em;
  height: 30%;
  background: var(--tertiary-color);
}

@media (max-width: 768px) {
  .about-title {
    grid-column: 1 / span 5;
  }
}

/* ===============
        AboutBio
    =============== */

.bio-container {
  padding: 3em 0;
  grid-column: 1 / span 12;
}

.bio-image-container {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.bio-text-container {
  grid-column: 4 / span 6;
  grid-row: 1;
  background: rgba(247, 247, 247, 0.5);
}

.bio-image {
  max-height: 330px;
}

.bio-text {
  max-width: 43em;
  padding-bottom: 2em;
}

.bio-text-middle {
  text-align: right;
}

.bio-strengths-container {
  grid-column: 10 / span 3;
  border-left: solid var(--secondary-color) 3px;
  border-radius: 5px;
  padding-left: 3em;
  margin: 0 auto;
}

.bio-strengths-animation {
  animation: fade-in-right 0.8s forwards;
}

.bio-strengths-title {
  color: var(--bg-primary);
  background: var(--secondary-color);
  border-radius: 5px;
  padding: 0.325em 0.5em;
  margin-bottom: 0.25em;
}

.bio-strengths-list {
  opacity: 0;
}

.bio-strengths-list-anchor {
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.bio-strengths-list-anchor::before {
  content: '';
  position: absolute;
  left: 3px;
  bottom: 0;
  width: 15px;
  height: 20%;
  background: var(--accent-color);
  transition: all 200ms;
}

.bio-strengths-list-anchor:hover::before {
  width: 90%;
}

@media (max-width: 1080px) {
  .bio-container {
    grid-column: 1 / span 9;
  }

  .bio-image-container {
    grid-column: 2 / span 2;
    grid-row: 1;
  }

  .bio-strengths-container {
    display: flex;
    grid-column: 4 / span 5;
    align-items: center;
    border: none;
    border-top: solid var(--secondary-color) 3px;
    border-bottom: solid var(--secondary-color) 3px;
    padding: 0;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .bio-strengths-title {
    margin-right: 0.5em;
    white-space: nowrap;
  }

  .bio-strengths-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0em 0.75em;
  }
}

@media (max-width: 768px) {
  .bio-container {
    grid-column: 1 / span 5;
  }

  .bio-image-container {
    grid-column: 2 / span 2;
    grid-row: 1;
    margin: 0 auto;
  }

  .bio-text-container {
    padding-top: 2.5em;
    grid-column: 1 / span 5;
    grid-row: 2;
  }

  .bio-strengths-container {
    grid-column: 1 / span 4;
    display: inline;
  }

  .bio-strengths-title {
    margin-right: 0.5em;
    white-space: nowrap;
  }

  .bio-strengths-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0em 0.75em;
  }
}

/* ===============
        Skills
    =============== */

.skills-container {
  grid-column: 2 / span 8;
  position: relative;
  display: flex;
  align-items: center;
  gap: 4em;
  padding: 2em;
  overflow: hidden;
  opacity: 0;
  transition: all 1000ms;
  background: rgba(247, 247, 247, 0.75);
}

.skill-card-container {
  position: relative;
  padding: 1em;
  border-radius: 5px;
  transition: all 200ms;
  opacity: 0;
  background-color: var(--bg-primary);
}

.skill-card-container-animation {
  animation: fade-in-sm-delay 2s forwards;
}

.skill-card-container::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 4em;
  background: var(--secondary-color);
}

.skill-card-title-container {
  display: flex;
  align-items: center;
  gap: 1.5em;
  margin-bottom: 1.25em;
}

.skill-card-title {
  color: var(--bg-primary);
  font-size: 1.825rem;
  font-weight: 700;
}

.skill-card-list {
  display: flex;
}

.skill-card-list-item::before {
  content: '\2022';
  color: #ec5c77;
  font-weight: 700;
  display: inline-block;
  width: 1em;
}

.skill-brand {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 100ms linear;
  animation: banner-scroll 19s infinite linear;
}

.skill-brand-icon {
  margin: 0 auto;
  padding-bottom: 0.5em;
}

.skill-brand-icon-small {
  width: 25px;
}

.skill-brand-icon-medium {
  width: 30px;
}

.skill-brand-icon-large {
  width: 35px;
}

.skill-brand-text {
  /* font-family: 'Antic', sans-serif; */
  color: #555;
  text-align: center;
  font-size: small;
}

@media (max-width: 1080px) {
  .skills-container {
    grid-column: 2 / span 8;
  }
}

@media (max-width: 768px) {
  .skills-container {
    grid-column: 1 / span 5;
  }
}

@keyframes banner-scroll {
  0% {
    left: 0px;
  }

  100% {
    left: -1890px;
  }
}
