/* ===============
        About
    =============== */

.about-title {
  grid-column: 2 / span 12;
}

.about-title::before {
  content: '';
  position: absolute;
  left: 5px;
  z-index: -1;
  bottom: 0;
  width: 7.375em;
  height: 30%;
  background: var(--tertiary-color);
}

@media (max-width: 768px) {
  .about-title {
    grid-column: 1 / span 5;
  }
}

/* ===============
        AboutBio
    =============== */

.bio-container {
  padding-top: 3em;
  grid-column: 2 / -1;
}

.bio-title {
  grid-column: 1/-1;
  white-space: nowrap;
}

.bio-image-container {
  width: fit-content;
  margin: 0 auto;
}

.bio-text-container {
  grid-column: 1 / span 6;
}

.bio-text {
  filter: blur(0.125em);
  max-width: 43em;
  padding-left: 0.625em;
  background: rgba(247, 247, 247, 0.8);
  transition: all 1000ms;
  margin: 1em 3em;
}

.bio-text:nth-child(1) {
  color: #444;
  border-left: solid 0.5em #ffb74d;
}

.bio-text:nth-child(2) {
  color: #333;
  border-left: solid 0.5em #ffaf3a;
}

.bio-text:nth-child(3) {
  color: #222;
  border-left: solid 0.5em #ffa828;
}
.bio-text:nth-child(4) {
  color: #111;
  border-left: solid 0.5em #ffa015;
}

.bio-text:nth-child(5) {
  color: #000;
  border-left: solid 0.5em #ff9a05;
}

.bio-text-illustration {
  grid-column: 8 / span 4;
  margin: auto;
  transition: all 1000ms;
}

@media (max-width: 1080px) {
  .bio-text-illustration {
    display: none;
  }
}

/* ===============
        Extra
    =============== */

.bio-extra-container {
  grid-column: 2/-1;
  padding: 1em 0;
}

.bio-extra-left-container {
  grid-column: 4 / 7;
  display: flex;
  justify-content: center;
  background: rgba(247, 247, 247, 0.75);
  border-radius: 15px;
  border: solid var(--accent-color) 3px;
  min-height: 245px;
  max-width: 310px;
  opacity: 0;
  transition: all 1.5s;
}

.bio-extra-left-content {
  margin: auto 0;
}

.bio-extra-left-content-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
  padding: 1em;
}

.bio-extra-right-container {
  grid-column: 7 / 10;
  padding-left: 1em;
}

/* ===============
        Strengths
    =============== */

.bio-strengths-container {
  opacity: 0;
  background: rgba(247, 247, 247, 0.75);
  width: fit-content;
  transition: all 1.5s;
}

.bio-strengths-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  white-space: nowrap;
  margin-right: 0.5em;
}

.bio-strengths-divider {
  margin: 0 auto;
}

.bio-strengths-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0.75em 0;
  gap: 0.75em;
}

.bio-strengths-list-anchor {
  font-size: 0.875rem;
}

@media (max-width: 1080px) {
  .bio-container {
    grid-column: 1 / span 9;
  }

  .bio-text-container {
    grid-column: 2/-1;
  }

  .bio-strengths-container {
    margin: 0 auto;
  }

  .bio-strengths-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .bio-extra-left-container {
    grid-column: 1/5;
  }

  .bio-extra-right-container {
    grid-column: 5/9;
  }
}

@media (max-width: 768px) {
  .bio-container {
    grid-column: 1 / span 5;
  }

  .bio-text-container {
    grid-column: 1 / span 5;
  }

  .bio-text {
    margin: 0.5em 0;
  }

  .bio-extra-container {
    grid-column: 1/-1;
  }

  .bio-extra-left-container {
    grid-column: 1/-1;
    margin: 1em auto;
  }

  .bio-extra-right-container {
    grid-column: 1/-1;
    padding: 0;
  }

  .bio-strengths-container {
    grid-column: 1 / span 4;
  }

  .bio-strengths-title {
    margin-right: 0.5em;
    white-space: nowrap;
  }
}

/* ===============
        Skills
    =============== */

.skills-container {
  grid-column: 2/-2;
  position: relative;
  display: flex;
  max-height: 600px;
  gap: 5em;
  margin: 3em 0;
  padding: 0.5em 0;
  overflow: hidden;
  opacity: 0;
  transition: all 1000ms;
  background: rgba(247, 247, 247, 0.8);
}

.skill-brand {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 100ms linear;
  animation: banner-scroll 19s infinite linear;
}

.skill-brand:hover {
  transform: translateY(-5px);
}

.skills-container:hover .skill-brand {
  animation-play-state: paused;
}

.skill-brand-icon {
  margin: 0 auto;
  padding-bottom: 0.5em;
}

.skill-brand-icon-small {
  width: 25px;
}

.skill-brand-icon-medium {
  width: 30px;
}

.skill-brand-icon-large {
  width: 35px;
}

.skill-brand-text {
  font-family: 'fira code', sans-serif;
  color: #555;
  text-align: center;
  font-size: small;
}

@media (max-width: 1080px) {
  .skills-container {
    grid-column: 2/11;
    gap: 5em;
  }
}

@media (max-width: 768px) {
  .skills-container {
    grid-column: 1 / span 5;
  }
}

@keyframes banner-scroll {
  0% {
    left: 0px;
  }

  100% {
    left: -2209px;
  }
}
