/* ===============
        About
    =============== */

.about-title {
  grid-column: 2 / span 12;
}

.about-title::before {
  content: '';
  position: absolute;
  left: 5px;
  z-index: -1;
  bottom: 0;
  width: 7.375em;
  height: 30%;
  background: var(--tertiary-color);
}

/* ===============
        AboutBio
    =============== */

.bio-container {
  padding: 3em 0;
  grid-column: 1 / span 12;
}

.bio-image-container {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.bio-text-container {
  grid-column: 4 / span 8;
  grid-row: 1;
}

.bio-image {
  max-height: 330px;
}

.bio-text {
  max-width: 43em;
  padding-bottom: 2em;
}

/* ===============
        Skills
    =============== */

.skills-container {
  grid-column: 2 / span 11;
}
