/* ===============
        Contact
    =============== */

#contact {
  position: relative;
}

.contact-title {
  grid-column: 2 / span 12;
}

.contact-title::before {
  content: '';
  position: absolute;
  left: 5px;
  z-index: -1;
  bottom: 0;
  width: 4.725em;
  height: 30%;
  background: var(--tertiary-color);
}

.contact-icon-container {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  width: 78%;
  top: 31%;
  left: -30px;
  z-index: -1;
}

.contact-input-container {
  padding: 3em 0;
  grid-column: 2 / span 5;
}

.contact-textarea {
  resize: vertical;
  max-height: 500px;
  min-height: 200px;
}

.contact-input-submit {
  text-align: left;
}

@media (max-width: 1080px) {
  .contact-icon-container {
    width: 90%;
    top: 35%;
  }
}

@media (max-width: 768px) {
  .contact-title {
    grid-column: 1 / span 5;
  }

  .contact-input-container {
    padding: 3em 0;
    grid-column: 1 / span 5;
  }

  .contact-icon-container {
    display: none;
  }
}

/* ===============
      ContactInput
    =============== */

.contact-input-label {
  opacity: 0;
  transition: 0.5s all;
}
