/* ===============
        Header
    =============== */

header {
  position: relative;
  height: 112px;
  background: var(--primary-color);
  background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color));
}

.header-container {
  width: 100%;
  align-items: center;
  color: white;
}

/* ===============
        Nav
    =============== */
nav {
  font-size: 1.125rem;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  position: relative;
}

.nav-link::before {
  content: '';
  position: absolute;
  left: 3px;
  bottom: 0;
  width: 15px;
  height: 20%;
  background: var(--tertiary-color);
  transition: all 200ms;
}

.nav-link:hover::before {
  width: 90%;
}

.nav-download-link {
  font-family: 'Poppins', sans-serif;
  border: solid var(--tertiary-color) 3px;
  border-radius: 5px;
  background: var(--tertiary-color);
  color: black;
  padding: 0.375em 0.875em;
  transition: all 200ms;
}

.nav-download-link:hover {
  color: var(--bg-primary);
  background: var(--dark);
}

@media (max-width: 768px) {
  .nav-link {
    display: block;
  }

  .logo {
    grid-column: 1;
  }
}

/* ===============
      NavDesktop
    =============== */

.nav-desktop {
  grid-column: 11;
  display: flex;
  align-items: center;
  gap: 64px;
}

@media (max-width: 1080px) {
  .nav-desktop {
    display: none;
  }
}

/* ===============
      NavMobile
    =============== */

.nav-mobile-container {
  position: fixed;
  background: rgba(51, 51, 51, 0.5);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  grid-template-columns: 0.8fr 1.2fr;
  justify-items: center;
  align-items: center;
  z-index: 2;
}

.nav-mobile-container-active {
  display: grid;
}

.nav-mobile {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10em;
  gap: 2em;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  z-index: -1;
  animation: fade-in-left 300ms;
}

.nav-mobile-close-button {
  grid-column: 2;
  top: 2.5em;
  right: 2.5em;
  background: none;
  padding: 0;
  border: none;
  position: absolute;
}

.nav-mobile-hamburger-button {
  display: none;
  width: fit-content;
  justify-self: center;
  background: none;
  padding-right: 2em;
  border: none;
  grid-column: 8;
}

.nav-mobile-close-button:hover,
.nav-mobile-hamburger-button:hover {
  background: none;
}

@media (max-width: 1080px) {
  .nav-mobile-hamburger-button {
    display: inline;
  }
}

@media (max-width: 768px) {
  .nav-mobile-hamburger-button {
    grid-column: 4;
  }
}

/* ===============
        logo
    =============== */

.logo {
  grid-column: 2;
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
  transition: all 200ms;
}

.logo:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .logo {
    grid-column: 1;
  }
}
