/* ===============
        Header
    =============== */

header {
  height: 96px;
  background: rgb(202, 101, 219);
  background: linear-gradient(180deg, rgba(202, 101, 219, 1) 0%, rgba(171, 71, 188, 1) 100%);
}

.header-container {
  width: 100%;
  align-items: center;
  color: white;
}

/* ===============
        Nav
    =============== */
nav {
  grid-column: 11;
  display: flex;
  gap: 64px;
  font-size: 1.125rem;
}

/* ===============
        logo
    =============== */

.logo {
  grid-column: 2;
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
}
