/* ===============
        Header
    =============== */

header {
  position: relative;
  height: 112px;
  background: var(--primary-color);
  background: linear-gradient(180deg, var(--primary-color) 0%, var(--secondary-color));
}

.header-container {
  width: 100%;
  align-items: center;
  color: white;
}

/* ===============
        Nav
    =============== */
nav {
  grid-column: 11;
  display: flex;
  gap: 64px;
  font-size: 1.125rem;
}

/* ===============
        logo
    =============== */

.logo {
  grid-column: 2;
  font-size: 2rem;
  font-family: 'Pacifico', cursive;
}
