/* ===============
        Footer
    =============== */

footer {
  position: relative;
  background: var(--primary-color);
  background: linear-gradient(0deg, var(--primary-color), var(--secondary-color));
  height: 112px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
