/* ===============
        Footer
    =============== */

footer {
  background: rgb(202, 101, 219);
  background: linear-gradient(0deg, rgba(202, 101, 219, 1) 0%, rgba(171, 71, 188, 1) 100%);
  height: 96px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
